body{
    margin: 0px;
    width: 100%;
    min-height: 100vh;
}
.estrutura{
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.superior{
    background: black;
    width: 100%;
    position: fixed;
    text-align: center;
    line-height: 90px;
    height: 100px;
}
.lateral{
    padding-top: 100px;
    background: rgb(49, 49, 49);
    width: 350px;
}
.conteudo{
    padding-top: 120px;
    background: grey;
    flex: 1;
    display: flex;
    background: linear-gradient(grey 60%, rgb(48, 48, 48));
    flex-direction: column;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 250px;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    border: 3px rgb(0, 0, 0) solid;
    font-size: 40px;
}
.box:hover{
    background: rgb(49, 49, 49);
}
.victorius{
    font-family: arial;
    font-size: 40pt;
    text-shadow: white 20px 20px 20px;
    color: darkgray;
    text-align: right;
}
a{
    text-decoration: none;
    color: white;
}
.dist a:hover{
    font-size: 110%;
    color: gold;
}
.biggerbox{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    border: 3px rgb(0, 0, 0) solid;
    font-size: 15px;
}
.concorra{
    font-size: 30px;
    color: blue;
    text-align: center;
}
form{
        display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
}
.dist{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.lateral li{
    color: white;
    font-size: 20pt;
    list-style: none;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: arial;
    font-weight: bold;
}
.lateral li:hover{
    background: silver;
}
.lateral ul{
    padding-left: 20px;
}
.lateral a:hover{
   text-decoration: none; 
   font-size: none;

}
.texto{
    width: 600px;
    background: black;
    height: auto;
    font-size: 20px;
    font-family: arial;
    text-align: justify;
    color: white;
    border: 8px solid rgb(71, 61, 4);
    padding: 20px;

}